.incidents-marker-list {
  background-color: #f5f5f5;
  margin-top: 15% !important;
  height: 80%;
  width: 95% !important;
  font-size: 1.2em !important;
  /*overflow: scroll;*/
  color: #555;
  width: 500px;
  font-family: courier monospace !important;
  border: 2px solid #dedede !important;
 
}

.incident-marker {
  border-bottom: 1px dotted #ccc;
  text-indent: 8% !important;
  height: auto;
  padding: 2.3% !important;
  text-transform: capitalize;

}

.inc-marker-text {
  color: #555 !important;
}

.incident-marker:hover {
  background-color: #f0f0f0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 4px;
  float: left;
  height: 79.7%;
  margin-left: 45px;
  position: absolute
}


.delete-incident-confirm {
  left: 50% !important;
  top: 35% !important;
  height: 30%;
}


.filter-incidents input {
  margin-left: 100px;
  width: 75;
}
