.incidents-marker-list{
    margin-top: 15% !important;
    height: 80%;
    width: 90%;
    font-size: 2em;
    overflow: scroll;
}

.incident-marker {
    padding: 2% 0  !important;
    background: mediumseagreen !important;
    width: 80%;
    height: 10%;
}

.incident-marker:not(:first-of-type){
    margin-top: 5%;
}