.a-item-header {
  font-size: 1.6em !important;
}

.a-item-meta {
  font-size: 1.2em !important;
}

.anomalyPopup-trigger {
  margin-left: 43% !important;
}

.anomalies-pagination {
  margin-left: 32% !important;
  margin-top: 5% !important;
}
