.anomaly-list {
  height: 93% !important;
}

.a-item-header {
  font-size: 1.6em !important;
}

.a-item-meta {
  font-size: 1.2em !important;
}

.anomalyPopup-trigger {
  margin-left: 41% !important;
}

.pagination-wrapper {  
  margin-top: 5% !important;
  display: flex;
  justify-content: center;
}


.createAnomaly-popup {
  opacity: 0.95 !important;
  border-radius: 10px !important;
}
