.researcher-modal {
  margin-left: 25% !important;
  top: 20% !important;
  height: auto !important;
}

.modal-items-list {
  background: transparent !important;
}

.modal-header {
  font-family: "Constantia", serif !important;
  font-size: 4.5em !important;
  color: rgb(185, 169, 169) !important;
  text-shadow: rgb(255, 255, 255) 0.05em 0.05em 0.05em !important;
  -webkit-text-stroke-width: 0.3px !important;
  -webkit-text-stroke-color: black !important;

  text-shadow: -0.1em 0.4em 0.1em rgb(214, 212, 110, 0.3),
   -0.3em 0.1em 0.1em rgba(13, 119, 92, 0.5),
    0.4em -0.3em 0.1em rgb(214, 212, 110, 0.3),
    0.05em 0.05em 0.05em rgb(83, 82, 82) !important;
}

.modal-item {
  font-family: "Constantia", serif !important;
  font-size: 1.8em !important;
  font-style: italic !important;
  color: rgb(185, 169, 169) !important;
  margin-top: 2% !important;
}

/*
.modal-item:hover {
  text-shadow: rgb(255, 255, 255) 0.05em 0.05em 0.1em !important;
}
*/