.incident-column {
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  padding: 0 2% 0 2%;
  vertical-align: top;
  transition: all 0.7s;
  text-align: center;
  min-height: 700.5px;
  max-height: 700.5px;
  width: 100%;
  overflow: hidden;
}



.incident-column .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
}

.incident-text {
  margin-top: 3%;
  height: 125px;
}

.incident-date {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  margin-top: 10px;

}

.incident-column .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 0px 0 10px 0;
}
.incident-column .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding-bottom: 1%
}
.incident-column .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 60%;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.incident-column .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 60%;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.incident-column .figure {
  margin-top: 20px;
}

.incident-column .figcaption {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}
.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.842);
  border-radius: 5px;
}

.incident-image {
  height: 210px;
  max-height: 210px;
}

.column1 {
  border-right: 0.2px solid black;
}