.ui.card {
  max-width: 150%;
}

.researcher-card {
  padding: 0% !important;
  max-width: 150% !important;
  width: 327px !important;
  height: auto;
  border: 2px solid black;
  background: red;
  transition: 2s;
}





