.ui.card {
  max-width: 150%;
}

.researcher-card {
  padding: 2% 10% 0 2% !important;
  max-width: 150% !important;
  width: 327px !important;
  height: 310px;
  border: 2px solid black;
  background: red;

}



