.anomaly-detail-container {
  padding: 0 !important;
  background: rgba(172, 172, 136, 0.95);
  width: 80% !important;
  height: 90% !important;
  max-height: 90% !important;
  margin-top: 5% !important;
  border-radius: 1.5%;
  left: 10%;

  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.map-container {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  border: 1px solid black
}
